__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
instance/
.env
*.db
*.sqlite
.DS_Store
.idea/

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
*.cover

# CI/CD
.github/workflows/deploy.yml

# Node/Vite
node_modules/
static/dist/
.vite/
.claude
CLAUDE.md
